@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #6173f4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #6173f4;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

.section-heading {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  clear: both;
}
.section-heading h2 {
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #6173f4;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#fh5co-our-services,
#fh5co-about-us,
#fh5co-features,
#fh5co-testimonials,
#fh5co-pricing,
#fh5co-press {
  padding: 3em 0;
}
@media screen and (max-width: 480px) {
  #fh5co-our-services,
  #fh5co-about-us,
  #fh5co-features,
  #fh5co-testimonials,
  #fh5co-pricing,
  #fh5co-press {
    padding: 5em 0;
  }
}

#fh5co-testimonials {
  background: #6173f4;
}
#fh5co-testimonials .section-heading h2 {
  color: white;
}
#fh5co-testimonials .section-heading h2:after {
  background: rgba(255, 255, 255, 0.2);
}
#fh5co-testimonials .section-heading .subtext h3 {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #6173f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonials .box-testimony blockquote p {
  font-style: italic;
}
#fh5co-testimonials .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#fh5co-pricing .price-box {
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
#fh5co-pricing .price-box.popular {
  border: 2px solid #6173f4;
}
#fh5co-pricing .price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-pricing .price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #6173f4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#fh5co-pricing .pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#fh5co-pricing .price {
  font-size: 50px;
  color: #000;
}
#fh5co-pricing .price .currency {
  font-size: 20px;
  top: -1.2em;
}
#fh5co-pricing .price small {
  font-size: 16px;
}
#fh5co-pricing .pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
#fh5co-pricing .pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#fh5co-our-services,
#fh5co-press {
  background: #f4f4f4;
}

#fh5co-our-services .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 992px) {
  #fh5co-our-services .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
#fh5co-our-services .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#fh5co-our-services .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-our-services .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#fh5co-our-services .box .icon.colored-1 {
  background: #2aaf67;
}
#fh5co-our-services .box .icon.colored-2 {
  background: #00bff3;
}
#fh5co-our-services .box .icon.colored-3 {
  background: #f26522;
}
#fh5co-our-services .box .icon.colored-4 {
  background: #e52b50;
}
#fh5co-our-services .box .icon.colored-5 {
  background: #2fc5cc;
}
#fh5co-our-services .box .icon.colored-6 {
  background: #6173f4;
}
#fh5co-our-services .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#fh5co-our-services .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}

#fh5co-features {
  padding: 3em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-features {
    padding: 4em 0;
  }
}
#fh5co-features .fh5co-service {
  margin-bottom: 30px;
  float: left;
}
#fh5co-features .fh5co-service .fh5co-icon {
  float: left;
  width: 20%;
}
#fh5co-features .fh5co-service .fh5co-icon i {
  font-size: 40px;
  color: #6173f4;
}
#fh5co-features .fh5co-service .fh5co-desc {
  width: 80%;
  float: right;
}
#fh5co-features .fh5co-service .fh5co-desc h3 {
  margin-top: 0;
  font-size: 18px;
}

#fh5co-press .fh5co-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item {
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text,
#fh5co-press .fh5co-press-item .fh5co-press-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-text,
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#fh5co-press .fh5co-press-item .fh5co-press-text {
  float: left;
  padding: 20px;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}
#fh5co-press .fh5co-press-item .fh5co-press-text .fh5co-press-title .fh5co-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #6173f4;
}
#fh5co-press .fh5co-press-item .fh5co-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #fh5co-press .fh5co-press-item .fh5co-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #6173f4;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #6173f4;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #6173f4;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #6173f4;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}



.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #6173f4;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #6173f4;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #6173f4;
  color: #fff;
}
.social li a.social-circle {
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #6173f4;
  color: #fff;
}
.social.social-circle a {
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: transparent !important;
  border: 2px solid #fff !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
  height: 800px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
    height: inherit;
    padding: 5em 0;
  }
}
.owl-carousel-fullwidth .fh5co-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: right;
  text-align: right;
  position: relative;
  bottom: -12em;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .fh5co-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
  top:35px;
}
.owl-carousel-fullwidth .item .fh5co-owl-text a {
  font-size: 60px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.to-animate-2_re > a{
	color: #6173f4 !important;
}

.owl-carousel-fullwidth .item .fh5co-owl-text a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead-2, .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
  font-size: 30px;
  line-height: 30px;
  line-height: 42px;
  font-weight: 100;
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .fh5co-owl-text .fh5co-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 3em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 0em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */

/* 메인페이지 슬라이드 배경 */
.main-bg-s1{
  text-align: center;
}

.main-bg-s1 > a{
  font-size: 120px;
}


.main-bg-sub-s1{
  text-align: center;
  font-size: 45px;
  color: #fff;
}

/* 메인 about us */
.to-animate > h3 > strong{
  color: #6173f4;
}

.to-animate > h3 > span{
  color: #6173f4;
}

/* 팀원소개 시작 */
:root {
  --clr-primary: teal;
  --clr-secondary: crimson;
  
  --bg-primary: #0d1a2d;
  --bg-secondary: #14273e;
  
  --text-primary: #fff;
  --text-secondary: #ccc;
}

ul:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* section {
  padding-block: clamp(2rem, 5vw, 5rem);
} */



.container {
  width: min(100% - 2rem, 65rem);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(min(35ch, 100%), 1fr));
}

.section-title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 0.5em;
}

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.flow-content {
  display: grid;
  align-content: start;
  gap: 1rem;
}

[data-spacing="sm"] {
  gap: 0.25rem;
}

.mx-auto {
  width: fit-content;
  margin-inline: auto;
}

/* starts here */
.card {
  width: min(100% - 2rem, 35ch);
  margin-inline: auto;
  /* background-color: var(--bg-secondary); */
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 0.5rem;
  color:#fff;
}

.card__name {
  font-weight: 700;
  color: var(--text-primary);
}

.card__position {
  color: #fff;
  font-style: italic;
}

.card__img {
  width: 5rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
}

.card__front {
  padding: 2em 2em 2.5em 2em;
  transition: 
    opacity 250ms ease,
    transform 450ms ease;
}

.card[data-visible="false"] .card__front {
  opacity: 1;
  transform: translateY(0);
}

.card__footer {
  background-color: var(--bg-primary);
  height: 1.5rem;
  position: relative;
  z-index: 5;
}

.card__back {
  position: absolute;
  padding: 2em 2em 2.5em 2em;
  inset: 0;
  transition: 
    transform 450ms ease,
    opacity 150ms ease;
  z-index: 1;
  overflow: auto;
}

.card[data-visible="false"] .card__back {
  opacity: 0;
  transform: translateY(100%);
}

.card[data-visible="true"] .card__front {
  opacity: 0;
  transform: translateY(100%);
  transition: 
    opacity 150ms ease,
    transform 450ms ease 50ms;
}

.card[data-visible="true"] .card__back {
  opacity: 1;
  transform: translateY(0);
  transition: 
    transform 350ms ease,
    opacity 450ms ease 100ms;
}

.card__social {
  justify-content: center;
  margin-bottom: 2em;
}

.card__toggle {
  text-align: 1;
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1 / 1;
  padding: 0.5em;
  border: 0;
  background-color: var(--clr-primary);
  color: var(--text-primary);
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  cursor: pointer;
  transition: background-color 250ms ease;
}

.card__toggle-icon {
  transition: rotate 250ms ease;
}

.card[data-visible="true"] .card__toggle {
  background-color: var(--clr-secondary);
}

.card[data-visible="true"] .card__toggle-icon {
  rotate: 315deg;
}
/* 팀원소개 끝 */

/* 라벨링 중요성, 라벨링 필요성 */
h1{
  font-size:25px;
  text-align: left;
  text-transform:capitalize;
}
.service-box{
 position: relative;
 overflow: hidden;
 margin-bottom:10px;
 perspective:1000px;
 -webkit-perspective:1000px;
}
.service-icon{
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
}

.service-content{
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 opacity: 0;
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
 background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
 backface-visibility:hidden;
 transform-style: preserve-3d;
 -webkit-transform: translateY(110px) rotateX(-90deg);
 -moz-transform: translateY(110px) rotateX(-90deg);
 -ms-transform: translateY(110px) rotateX(-90deg);
 -o-transform: translateY(110px) rotateX(-90deg);
 transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
 position: relative;
 top:80px;
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
 font-size: 28px;
 color: #fff;
/*  font-weight: normal; */
}

.service-box .service-icon .front-content h3 {
 font-size: 15px;
 color: #fff;
 text-align: center;
 margin-bottom: 15px;
 text-transform: uppercase;
}
.service-box .service-content h3 {
 font-size: 15px;
 font-weight: 700;
 color: #fff;
 margin-bottom:10px;
 text-transform: uppercase;
}
.service-box .service-content p {
 font-size: 13px;
 color: #b1b1b1;
 margin:0;
}
/* .yellow,.orange,.red,.grey{background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);} */
.yellow,.orange,.red,.grey{background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);}

/* .orange{background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);}
.red{background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);}
.grey{background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);} */
.service-box:hover .service-icon{
 opacity: 0;
 -webkit-transform: translateY(-110px) rotateX(90deg);
 -moz-transform: translateY(-110px) rotateX(90deg);
 -ms-transform: translateY(-110px) rotateX(90deg);
 -o-transform: translateY(-110px) rotateX(90deg);
 transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
 opacity: 1;
 -webkit-transform: rotateX(0);
 -moz-transform: rotateX(0);
 -ms-transform: rotateX(0);
 -o-transform: rotateX(0);
 transform: rotateX(0);
}
/* 라벨링 중요성, 라벨링 필요성  끝*/

/* news 시작  */

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}
.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

.news-card {
    height: 20rem
}
  }

.news-card::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
      z-index: 0;
    }

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
/*     background: rgba(255,0,0,.5); */
  }

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
  }

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
/*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
  }

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
  }

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
  }

@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
      max-height: 20rem;
      opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
      color: yellow;
    }
    .news-card:hover .news-card__image {
      transform: scale(1.2);
      z-index: -1;
    }
  }

.news-card__excerpt {
    font-weight: 300;
  }

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
  }

.news-card__read-more i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

.news-card__read-more:hover i {
      left: 0.5rem;
      color: yellow;
    }
/* news 끝  */

/* youtube 시작  */
modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  border-bottom: 1px solid #505050;
  padding: 12px 16px 6px 16px;
}
.modal-header .modal-title {
  color: #ccc;
  margin: 0;
}
.modal-header .close {
  font-size: 32px;
  opacity: 1;
  color: #ccc;
  text-shadow: none;
  outline: none;
}

.modal-content {
  border-radius: 0;
  border: 0;
  background-color: #323232;
}

.img-responsive {
  width: 100%;
}

button.btn-play {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: 0 !important;
  width: 100%;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.8);
}
button.btn-play:hover, button.btn-play:active, button.btn-play:visited, button.btn-play:focus {
  color: white;
}
button.btn-play .glyphicon {
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
  font-size: 64px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  button.btn-play .glyphicon {
    font-size: 56px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  button.btn-play .glyphicon {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  a.video {
    display: block;
  }

  button.btn-play .glyphicon {
    font-size: 56px;
  }
}

/* youtube 끝  */

/* 직접 클래스 추가 */
.conStyle{
	position: relative;
}

.pstyle{
	font-size: 16px !important;
}

.sfstyle{
	position: relative;
	top: -12px;
}






