<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.mapper.BoardMapper">
   	
   	<select id="boardList" parameterType="int" resultType="kr.board.entity.Board">
		<!-- select * from repository where user_idx = #{user_idx} order by date	 -->
		select id,category,detected_object,substring_index(image_path,"\\",-1) as image_path,substring_index(substring_index(result_path, '\\', -2), '\\', 1) as result_path1,substring_index(result_path,"\\",-1) as result_path2,date, user_idx from repository where user_idx = #{user_idx} order by date	; 
	</select>
	
	<select id="adminList" resultType="kr.board.entity.Board">
		select id,img_id,substring_index(image_path,"\\",-1) as image_path,substring_index(substring_index(result_path, '\\', -2), '\\', 1) as result_path1,substring_index(result_path,"\\",-1) as result_path2,result_label,edit_label from repository order by date; 
	</select>
	
	<delete id="boardDelete" parameterType="int">
		delete from repository where id = #{id}
	</delete>
	
	<select id="chartMonth" parameterType="int" resultType="kr.board.entity.Board">
		select month(date) as month, count(month(date)) as mnt from repository where user_idx =#{user_idx} and year(date) = 2023 group by month(date) order by month;
	</select>
	
	<select id="chartDay" parameterType="int" resultType="kr.board.entity.Board">
		select day(date) as day, count(day(date)) as dnt from repository  where user_idx=#{user_idx} and date between date_sub(now(),interval 7 day) and now() group by day(date) order by day;
	</select>
	
	<select id="allChartMonth" resultType="kr.board.entity.Board">
		select month(date) as month, count(month(date)) as mnt from repository where year(date) = 2023 group by month(date) order by month;
	</select>
	
	<select id="allChartDay" resultType="kr.board.entity.Board">
		select day(date) as day, count(day(date)) as dnt from repository  where date between date_sub(now(),interval 7 day) and now() group by day(date) order by day;
	</select>
	
</mapper>
